/* font-family: 'Monoton', cursive; */
/* font-family: 'Open Sans', sans-serif; */

div {
  border: 0px solid red;
}

html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 50px;
}

/* Nav */
#navbar {
  width: 100%;
}

#exploreColor {
  color: #399bd1;
}

#navbar a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #f3f3f3;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #f9c97c;
}

/* Jumbotron */
.jumbotron {
  background-image: url("../../images/jumbotron-bike.jpg");
}

.jumbotron h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
}

.jumbotron p {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
}

/* Feature Project */
#featureProject img {
  width: 100%;
  opacity: 0.7;
}

#featureProject h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

#featureProject h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#featureProject p {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/* Projects */
#projects img {
  width: 100%;
  opacity: 0.7;
}

#projects h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

#projects h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#projects p {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

#projects {
  margin-bottom: 5.85rem;
}

/* Footer */
#havingTrouble {
  background-color: #f3f3f3;
  text-align: center;
}

#havingTrouble h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
  padding-top: 5.2rem;
}

#havingTrouble p {
  wwidth: 42rem;
  margin-top: 1.4rem;
  text-align: center;
  padding-bottom: 5.2rem;
}
